<div class="container">
    <h1>Danh sach students</h1>
    <table class="table table-bordered border-primary">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Name</th>
            <th scope="col">Mark</th>
            <th scope="col">Gender</th>
            <th scope="col">Class</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(index,item) in listStudents">
            <th scope="row">{{index + 1}}</th>
            <td>{{item.name}}</td>
            <td>{{item.mark}}</td>
            <td>
                <span ng-repeat="gd in listGenders" ng-if="item.gender == gd.id">
                    {{gd.text}}
                </span>
            </td>
            <td>
                <span ng-repeat="cl in listClasses" ng-if="item.class == cl.id">
                    {{cl.name}}
                </span>
            </td>
            <td>
                <a href="#!/student/edit/{{item.id}}" class="btn btn-warning">Sua</a>
                <button class="btn btn-danger" ng-click="onDelete(item.id)">Xoa</button>
            </td>
          </tr>
        </tbody>
      </table>
      <a href="#!/student/add" class="btn btn-primary">Them moi</a>
</div>