<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>lession 8</title>
</head>
<body ng-app="myApp">

    <div ng-controller="myController" ng-init="b=100;c=1000;gender=true;code='UDPM'">
        <table class="table table-bordered border-primary table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Sale</th>
                <th scope="col">Image</th>
                <th scope="col">Category</th>
                <th scope="col">Rate</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in data">
                <th>{{item.id}}</th>
                <td>{{item.nameProduct}}</td>
                <td>{{item.price}}</td>
                <td>
                 <span ng-show="item.sale">Đang sale</span>
                 <span ng-hide="item.sale">Không sale</span>
                </td>
                <td>
                  <img style="height: 50px;" src="{{item.image}}" alt="">
                </td>
                <td ng-switch="item.category">
                  <span ng-switch-when="As">Asus</span>
                  <span ng-switch-when="De">Dell</span>
                  <span ng-switch-when="Le">Lenovo</span>
                  <span ng-switch-when="Ac">Acer</span>
                  <span ng-switch-when="HP">HP</span>
                  <span ng-switch-when="Ap">MacBook</span>
                  <span ng-switch-when="Mi">Microsoft</span>
                  <span ng-switch-default>Laptop</span>
                </td>
                <td>
                  <span ng-if="item.rate >=8 && item.rate <=10">Cao</span>
                  <span ng-if="item.rate >=6 && item.rate <8">Trung bình</span>
                  <span ng-if="item.rate >=0 && item.rate <6">Thấp</span>
                </td>
                <td>{{item.description}}</td>
              </tr>
            </tbody>
          </table>
        <hr>
        <!-- ng-repeat -->
        <ul>
            <li ng-repeat="item in name">{{item}}</li>
        </ul>
        <!-- ng-switch -->
        <h1 ng-switch="code">
            Khoa:
            <span ng-switch-when="PTPM">Phát triển phần mềm</span>
            <span ng-switch-when="UDPM">Ứng dụng phần mềm</span>
            <span ng-switch-default>Công nghệ thông tin</span>
        </h1>
        <!-- ng-if -->
        <input type="number" ng-model="txtNumber">
        <h1>
            Học lực:
            <span ng-if="txtNumber>=9 && txtNumber <=10">Giỏi</span>
            <span ng-if="txtNumber>=7 && txtNumber <9">Khá</span>
            <span ng-if="txtNumber>=5 && txtNumber <7">TB</span>
            <span ng-if="txtNumber>=0 && txtNumber <5">Yếu</span>
            <span ng-if="txtNumber>10 || txtNumber <0">Lỗi</span>
        </h1>
        <!-- ng-show ng-hide -->
        <h1>
            Giới Tính:
            <span ng-show="gender">Nam</span>
            <span ng-hide="gender">Nữ</span>
        </h1>
        <!-- ng-init -->
        <h1>a: {{a}}</h1>
        <h1>b: {{b}}</h1>
        <h1>c: {{c}}</h1>

    </div>
        <!-- 
        - Chỉ truy xuất biến(model) trong controller tương ứng
        - Không thể truy xuất biến(model) trong 1 controller khác
        - Controller con kế thừa model từ controller cha
        - Controller cha không thể truy xuất model từ controller con
        - Sử dụng $rootScope để truy xuất model từ controller khác
     -->
     <div ng-controller="parentController" class="border border-3 border-danger m-3 p-3">
        <h1>C1: {{mess1}}</h1>
        <h1>Root: {{root}}</h1>

        <div ng-controller="childrenController1" class="bg-info">
            <h1>C1: {{mess1}}</h1>
            <h1>C2: {{mess2}}</h1>
            <h1>Parent: {{parentMess}}</h1>
        </div>

        <div ng-controller="childrenController2" class="bg-success">
            <h1>C1: {{mess1}}</h1>
            <h1>C2: {{mess2}}</h1>
            <h1>Root: {{root}}</h1>
        </div>
     </div>
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="./main.js"></script>
</html>