<div class="container">
    <h1>Sua Products</h1>
    <form name="frm" novalidate ng-submit="onEdit()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" required ng-model="dataInput.name">
          <span class="text-danger" ng-show="(frm.name.$error.required && frm.name.$touched) || (frm.name.$error.required && frm.$submitted)">
            Ten khong duoc trong
          </span>
        </div>

        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" required ng-model="dataInput.quantity" min="0">
            <span class="text-danger" ng-show="(frm.quantity.$error.required && frm.quantity.$touched) || (frm.quantity.$error.required && frm.$submitted)">
                Quantity khong duoc trong
            </span>
            <span class="text-danger" ng-show="frm.quantity.$error.min">
                Quantity phai lon hon hoac bang 0
            </span>
          </div>
          
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" name="category" id="category" required ng-model="dataInput.category">
                <option ng-repeat="cg in listcategories" value="{{cg.id}}">{{cg.nameCategory}}</option>
              </select>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>