<!-- <div class="container">
    <h1>Sửa nhà xuất bản</h1>
    <form name="frmpub" novalidate ng-submit="onUpdatePub()">
        <div class="mb-3">
            <label for="name" class="form-label">Nhà xuất bản</label>
            <input type="text" class="form-control" id="name" 
                ng-model="dataInput.name" name="name" required>

            <span ng-show="(frmpub.name.$error.required && frmpub.name.$touched) || (frmpub.name.$error.required && frmpub.$submitted)"
                class="text-danger">
                Không để trống tên nhà xuất bản
            </span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div> -->